body {
  margin: 0;
  height: 100dvh;
  width: 100dvw;
}

.nav_container {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calculator {
  background: linear-gradient(to bottom right, #636575, #6e7c8f);
  border-radius: 13px;
  padding: 6px;
  height: 50%;
  box-shadow: 3px 3px 15px 0px #000000a9;
  transition: transform 0.15s ease-in-out;
}

.cookieclickerNav {
  background: linear-gradient(to bottom right, #636575, #6e7c8f);
  border-radius: 13px;
  padding: 6px;
  height: 50%;
  box-shadow: 3px 3px 15px 0px #000000a9;
  transition: transform 0.15s ease-in-out;
  width: 63.5px;
  transition: transform 0.15s ease-in-out;
}

.cookie__icon {
  height: 100%;
  color: rgb(255, 255, 255);
  width: 100%;
}

.calculator:hover,
.cookieclickerNav:hover {
  transform: scale(1.1);
}

.calculator_icon {
  height: 100%;
  color: rgb(255, 255, 255);
}

#calculator_link:visited {
  color: rgb(255, 255, 255);
}

.homebutton_icon {
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
}

#homebutton_link:visited {
  color: rgb(255, 255, 255);
}

.home {
  background: linear-gradient(to bottom right, #636575, #6e7c8f);
  border-radius: 13px;
  padding: 6px;
  height: 50%;
  box-shadow: 3px 3px 15px 0px #000000a9;
  transition: transform 0.15s ease-in-out;
  background-position: left top;
}

.home:hover {
  transform: scale(1.1);
}

.calculatordiv {
  max-width: 60vw;
  max-height: 60vh;
  font-family: Livvic, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: hsl(0, 0%, 100%);
  display: grid;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 2em;
  max-inline-size: 22rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.349);
  max-inline-size: 30rem;
}
.calculator__output {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 5rem;
  font-weight: 500;
  background: hsl(206, 14%, 41%);
  padding-block-start: 1.5rem;
  padding-block-end: 1.5rem;
  padding-inline-end: 1.25rem;
  text-align: end;
}
.calculator__keys {
  background: hsl(206, 14%, 41%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5;
  padding: 0.6rem;
}
.calculator__key {
  color: hsl(255, 100%, 100%);
  background: hsl(206, 14%, 41%);
  border: none;
  font-size: 2rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  inline-size: 90px;
  block-size: 90px;
  margin: 0.5rem;
  border-radius: 160px;
  transition: transform, 0.1s;
}

.calculator__key:hover {
  transform: scale(1.1);
}

.calculator__key:active {
  outline: none;
  background: hsl(205, 13%, 46%);
}
.calculator__key--operator {
  background: hsl(205, 21%, 59%);
  color: hsl(0, 0%, 100%);
}

.calculator__key--enter {
  color: hsl(0, 0%, 100%);
  grid-column: 4/5;
  grid-row: 2 / span 4;
  height: auto;
  background: hsl(357, 100%, 72%);
}
.calculator__key--enter:hover {
  transform: scale(1.03);
}
.calculator__key--enter:active {
  background: hsl(357, 100%, 82%);
}

.is-depressed {
  background-color: #738594;
}
